<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <!--<script src="../../node_modules/vue/dist/vue.min.js"></script>-->
</head>
<body>
<div id="index">

</div>

<!--<script>
    var tel={
        data: function(){
            return {
                msg: 'hello'
            }
        },
        template: '<h1>{{msg}}</h1>'
    }

    var vm2=new Vue({
        el: '#i',
        render: function(createElement){
            return createElement(tel)
        }
    })
</script>-->
<script src="/src/public/javascripts/bundle.js"></script>
</body>
</html>